aws-config.yml
.Ds_store
application-local.yml
application-test.yml
baemo-4e1d1-firebase-adminsdk-dmr9f-46bf618f2c.json
src/main/resources/config/firebase/
src/main/resources/config/jwt/*
resources/config/firebase/baemo-firebase-adminsdk.json

HELP.md
.gradle
/src/main/resources/config/secrets/*
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
